.ribbon-bar {
  box-shadow: 1px 0 1px #191918;
  border-bottom: 1px solid #000000;

  &__button {
    display: flex;
    gap: 16px;
    color: #b8b8b6;
    border-radius: 5px;
    padding: 10px 24px;


    &:hover {
      background-color: #454543;

    }

    &__icon {
      font-size: 18px;
    }

    &__text {

    }
  }
}